 @model List<Usuario>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao sistema Biblioteca</h1>
    <p>Use o menu superior para navegar.</p>
</div>

<div>
      @foreach (Usuario usuario in Model)
      {
          <article id="post-@usuario.Id" class="post">
              <h2 class="post-Nome">@usuario.Nome</h2>
              <span class="post-Login">@usuario.Login</span>
             
              <section id="usuario-@usuario.Id" class="Usuario">
                  <h4>Comentários</h4>
                  <partial name="_ListaUsuarios" model="@usuario.Nome"/>
                  <partial name="_FormCadastro" model="@usuario.Id"/>
              </section>
          </article>
      }

      @for(int i = 1; i<= (int)ViewData["Paginas"]; i++)
        { 
            <a href="/?p=@i">@i</a>
        }
      
  </div>
